/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family:  'Arial', Helvetica, 'sans-serif';
    background-color: #1e1e1e;
    color: #ffffff;
}
.header {
    background-color: white;
    padding: 10px 0;
}
.container {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
}
.logo img {
    height: 50px;
}
.nav {
    flex-grow: 1;
    margin-left: 50px;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
.nav-item a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: color 0.3s ease;
}
.nav-item a:hover {
    color: #f1c40f;
    text-decoration: underline;
}
.cta {
    margin-left: 1000px;
}
.cta-button {
    background-color: #f1c40f;
    color: #1e1e1e;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.cta-button:hover {
    background-color: black;
    color: #f1c40f;
}
.hero-content { 
    background-image: url(./Banner\ img1.png);
    background-size: 100% 100%;
    animation: changeimage 15s step-start infinite ;  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
@keyframes changeimage {
    0%{
        background-image: url(./Banner\ img1.png);   
    }
    33%{
        background-image: url(./Banner\ img2.png);   
    }
    66%{
        background-image: url(./Banner\ img3.png);   
    }
    100%{
        background-image: url(./Banner\ img4.jpeg);   
    }   
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
#abt{
    background-color: grey;
}
.about-us {
    padding: 30px 20px;
    background-color: #1e1e1e;
}
.about-us .container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 20px;
    display: inline;
}
.about-us h2 {
    text-align: center;
    font-size: 4em;
    margin-bottom: 30px;
    color: black;
    margin-top: 0px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor .4s step-end infinite alternate;
}
.about-us .content {
    display: inline;
    flex-wrap: wrap;
    gap: 20px;
}
.about-us .text {
    flex: 1;
    min-width: 300px;
}
.about-us .text p {
    font-size: 2em;
    line-height: 1.6em;
    margin-bottom: 20px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
}
.about-us .text h1{
    font-size: 3em;
    text-align: center;
    color: black;
}
.about-us .images {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
    width: 70%;
    padding-left: 15%;
}
.about-us .images img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.about-us .images img:hover {
    transform: scale(1.05);
}
/*------why we are best --------*/
.container-best {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 25px;
    color: #f1c40f;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor .4s;
}
@keyframes cursor {
    50% { border-color: transparent }
}
@keyframes typing {
    from { width: 0 }
}
.our-coffee {
    padding: 40px 0;
}
.coffee-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}
.coffee-card {
    background-color: #2c2c2c;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease;
}
.coffee-card:hover {
    transform: translateY(-10px);
    background-color: darkolivegreen;
}
.coffee-img {
    width: 100%;
    height: auto;
}
.coffee-title {
    font-size: 2em;
    margin: 20px 0 10px 0;
    color: #f1c40f;
}
.coffee-description {
    padding: 0 20px 20px;
    color: white;
    font-size: 20px;
}
/*------- gallery-------*/
.menu-section {
    padding: 50px 0;
    background-color: #1e1e1e;
}
#gal{
    background-color: grey;
}
.section-title-gal {
    text-align: center;
    font-size: 4em;
    margin-top: 2px;
    margin-bottom: 35px;
    color: black;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor .4s;
}
.menu-items {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: center;
}
.menu-item {
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
    transition: transform 0.3s ease;
}
.menu-item:hover {
    transform: scale(1.05);
    background-color: darkolivegreen;
}
.menu-item img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 15px;
    object-fit: cover;
    object-position: center;
}
.menu-item-title {
    font-size: 2em;
    margin: 10px 0;
    color: #f1c40f;
}
.menu-item-description {
    font-size: 20px;
    margin: 5px 0;
    color: white;
}
.menu-item-price {
    font-size: 1.2em;
    margin: 10px 0;
    color: white;
}
/*-------testimonials------*/
.customer-reviews {
    background-color: #1e1e1e;
    padding: 50px 0;
}
.container-re {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}
.section-title-test {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    color: #f1c40f;
    margin-top: 5px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor .4s;
}
.review-slider {
    display: flex;   
    position: relative;
    width: 100%;
    overflow: hidden;
}
.review {
    min-width: 100%;
    background-color: #2c2c2c;
    border-radius: 10px;
    padding: 20px;
    margin: 0 10px;
    box-sizing: border-box;
}
.reviewer-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 60px;
}
.reviewer-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.reviewer-details {
    flex-grow: 1;
}
.reviewer-name {
    margin: 0;
    font-size: 2rem;
    color: #f1c40f;
}
.review-date {
    margin: 0;
    color: #808080;
    font-size: 1rem;
}
.review-text {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.slider-button {
    background-color: #f1c40f;
    color: #1e1e1e;
    border: none;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 5px;
}
.slider-button.prev {
    left: 20px;
}
.slider-button.next {
    right: 20px;
}
.slider-button:hover {
    background-color: #ffffff;
    color: #1e1e1e;
}
/*---contact----*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;  
}
.sub-title{
    color: #f1c40f;
    font-size: 4em;
    margin-top: 2px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s, cursor .4s;
}
.container-sub{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
}
.contact-left p{
    margin-top: 30px;
    color: white;
    font-size: 20px;
}
.contact-left a{
    text-decoration: none;
    color: darkolivegreen;
    font-size: 1.2em;
}
.contact-left p i{
    color: #f1c40f;
    margin-right: 15px;
    font-size: 25px;
}
.btn.btn2{
    display: inline-block;
    background: #f1c40f;
    border-radius: 5px;   
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 10px 20px;
    font-size: 28px;
    margin-top: 20px;
    cursor: pointer;
}
form button{
    margin-bottom: 40px;
}
#msg{
    color: #f1c40f;
    margin-top: -20px;
    display: block;
}
@media only screen and (max-width: 600px){

    .hero-content{
        background-image: url(./Banner\ img1.png);
        background-size: 100% 100%;
        height: 30vh;     
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #f1c40f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 38.3vh;
        padding-top: 70px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    #first{
        margin-top: 70px;
    }
    nav ul .fa-solid{
        position: absolute;
        right: 0;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .fa-solid, .fa-bars{
        color: #080808;
    }
    #sidemenu{
        display: none;
        position: absolute;
        right: 0;
    }
    .nav-item a:hover{
        color: black;
    }
    .cta{
        margin-left: 150px;
    }
    .cta-button{
        padding: 5px 10px;
    }
    .about-us{
        padding: 0px 20px;
    }
    .about-us h2{
        font-size: 3em;  
        margin-bottom: 20px;  
    }
    .about-us .images{
        padding-left: .15%;
        width: 100%;
    }
    .about-us .text h1{
        font-size: 2em;
        margin-bottom: 15px;
    }
    .about-us .text p{
        font-size: 1em;
        margin-bottom: 7px;
    }
    .our-coffee{
        padding: 0 0;
    }
    .section-title-gal{
        font-size: 3em;
        margin-top: 3px;
    }
    .section-title{
        font-size: 3em;
        margin-top: 25px;
        margin-bottom: 10px;
    }
    .coffee-card {
        max-width: 350px;
        margin-bottom: 30px;
    }
    .coffee-description{
        font-size: 1em;
    }
    .coffee-img{
        width: 100%;
    }
    .menu-section {
        padding: 30px 0px;
        margin-bottom: 10px;
    }
    .menu-item{
        max-width: 300px;
    }
    .menu-item-description{
        font-size: 1em;
    }
    .menu-item-price{
        font-size: 1em;
    }
    .menu-item{
        max-width: 300px;
        height: 600px;
        object-fit: cover;
        object-position: center;
    }
    .menu-item img{
        width: 100%;
        height: 70%;
    }
    .container-re{
        padding-left: 8px;
    }
    .customer-reviews {
        padding: 10px 0;
    }
    .section-title-test{
        font-size: 3em;
        margin-top: 7px;
    }
    .review-text{
        font-size: 1em;
    }
    .contact-left{
        flex-basis: 100%;
    }
    .contact-right{
        flex-basis: 80%;
    }
    .sub-title{
        font-size: 3em;
        text-align: center;
        margin-top: 7px;
    }
    .contact-left p{
        font-size: 1em;
    }
    .contact-right form{
        padding-left: 10px;
    }
    form button{
        margin-left: 40%;
        margin-bottom: 30px;
    }
    #msg{
        padding-left: 125px;
        margin-top: -20px;
        margin-bottom: 10px;
    }
}